@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@theme {
    --color-accent: var(--color-indigo-600);
    --color-accent-content: var(--color-indigo-700);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-indigo-600) !important;
        --color-accent-content: var(--color-indigo-300) !important;
        --color-accent-foreground: var(--color-white) !important;
    }
}