:root {
    --color-accent: var(--color-indigo-500);
    --color-accent-content: var(--color-indigo-600);
    --color-accent-foreground: var(--color-white);
}

:root {
    .dark {
        --color-accent: var(--color-indigo-500);
        --color-accent-content: var(--color-indigo-300);
        --color-accent-foreground: var(--color-white);
    }
}